@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@source "../node_modules/streamdown/dist/*.js";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #f4f4f0;
  --foreground: #000000;
  --card: #ffffff;
  --card-foreground: #000000;
  --popover: #ffffff;
  --popover-foreground: #000000;
  --primary: #f97316;
  --primary-foreground: #ffffff;
  --secondary: #38b6ff;
  --secondary-foreground: #ffffff;
  --muted: #e5e5e5;
  --muted-foreground: #525252;
  --accent: #cb6ce6;
  --accent-foreground: #000000;
  --destructive: #ff5757;
  --destructive-foreground: #ffffff;
  --border: #000000;
  --input: #000000;
  --ring: #000000;
  --chart-1: #ff914d;
  --chart-2: #38b6ff;
  --chart-3: #cb6ce6;
  --chart-4: #ff5757;
  --chart-5: #ff914d;
  /* --chart-axis: #52525b; */
  --sidebar: #ffde59;
  --sidebar-foreground: #000000;
  --sidebar-primary: #ff914d;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #cb6ce6;
  --sidebar-accent-foreground: #000000;
  --sidebar-border: #000000;
  --sidebar-ring: #000000;
  --font-sans: "Space Grotesk", "Oxanium", sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Source Code Pro", monospace;
  --radius: 0px;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 1;
  --shadow-color: #000000;
  --shadow-2xs: 2px 2px 0px 0px var(--shadow-color);
  --shadow-xs: 4px 4px 0px 0px var(--shadow-color);
  --shadow-sm: 4px 4px 0px 0px var(--shadow-color);
  --shadow: 6px 6px 0px 0px var(--shadow-color);
  --shadow-md: 8px 8px 0px 0px var(--shadow-color);
  --shadow-lg: 12px 12px 0px 0px var(--shadow-color);
  --shadow-xl: 16px 16px 0px 0px var(--shadow-color);
  --shadow-2xl: 20px 20px 0px 0px var(--shadow-color);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: #121212;
  --foreground: #ffffff;
  --card: #1e1e1e;
  --card-foreground: #ffffff;
  --popover: #1e1e1e;
  --popover-foreground: #ffffff;
  --primary: #f97316;
  --primary-foreground: #ffffff;
  --secondary: #38b6ff;
  --secondary-foreground: #ffffff;
  --muted: #333333;
  --muted-foreground: #a3a3a3;
  --accent: #cb6ce6;
  --accent-foreground: #ffffff;
  --destructive: #ff5757;
  --destructive-foreground: #ffffff;
  --border: #f4f4f0;
  --input: #f4f4f0;
  --ring: #f4f4f0;
  --chart-1: #ff914d;
  --chart-2: #38b6ff;
  --chart-3: #cb6ce6;
  --chart-4: #ff5757;
  --chart-5: #ff914d;
  --chart-axis: #a1a1aa;
  --sidebar: #1e1e1e;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #ffde59;
  --sidebar-primary-foreground: #000000;
  --sidebar-accent: #cb6ce6;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #f4f4f0;
  --sidebar-ring: #f4f4f0;
  --font-sans: "Space Grotesk", "Oxanium", sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Source Code Pro", monospace;
  --radius: 0px;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 1;
  --shadow-color: #f4f4f0;
  --shadow-2xs: 2px 2px 0px 0px var(--shadow-color);
  --shadow-xs: 4px 4px 0px 0px var(--shadow-color);
  --shadow-sm: 4px 4px 0px 0px var(--shadow-color);
  --shadow: 6px 6px 0px 0px var(--shadow-color);
  --shadow-md: 8px 8px 0px 0px var(--shadow-color);
  --shadow-lg: 12px 12px 0px 0px var(--shadow-color);
  --shadow-xl: 16px 16px 0px 0px var(--shadow-color);
  --shadow-2xl: 20px 20px 0px 0px var(--shadow-color);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply font-sans bg-background text-foreground antialiased selection:bg-primary/20 selection:text-primary;
  }
  html {
    @apply font-sans scroll-smooth;
  }
  .maplibregl-popup-content {
    @apply bg-transparent! shadow-none! p-0! rounded-none!;
  }
  .maplibregl-popup-tip {
    @apply hidden!;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-marquee {
  animation: marquee 15s linear infinite;
}
